
$ppr: 12px/1rem; // 样式的rem按照12px进行转换

.page-classify{
  .classify{
    display: flex;
    width: 100%;
    position: absolute;
    top: 54px/$ppr;
    bottom: 0rem;
    z-index: 100;
    .page-star{
      position: fixed;
      top: 0;
      height: 2rem;
      width: 100%;
      background: red;
    }
    .left{
      flex: 0 0 100px/$ppr;
      width: 100px/$ppr;
      background: #eee;
      overflow: hidden;
      .left-li{
        & li{
          padding: .5rem;
          height: 35px/$ppr;
          line-height: 35px/$ppr;
          text-align: center;
          font-size: 1.2rem;
          border-bottom: 1px solid #e1e1e1;
          &:last-child{
            border-bottom: 0;
          }
          &.current{
            background: #fff;
            font-weight: 700;
          }
        }
      }
    }
    .right{
      flex: 1;
      background: #e3e3e3;
      overflow: hidden;
      .right-list{
        width: 100%;
        .h2-title{
          height: 40px/$ppr;
          line-height: 40px/$ppr;
          padding: 0 .5rem;
          background: #eee;
          border-left: 4px solid #FF3B84;
          font-weight: 700;
          font-size: 1.4rem;
        }
        & ul{
          margin-left: 5px/$ppr;
          & li{
            margin-top: 5px/$ppr;
            display: flex;
            .img{
              flex: 0 0 100px/$ppr;
              width: 100px/$ppr;
              height: 100px/$ppr;
              background: red;
              & img{
                width: 100%;
                display: block;
              }
            }
            .content{
              flex: 1;
              background: white;
              padding: 0 5px/$ppr;
              color: #000;
              font-size: 1.2rem;
              & h2{
                font-size: 1.2rem;
                height: 48px/$ppr;
                line-height: 24px/$ppr;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                word-break: break-all;
              }
              & .describe{
                line-height: 24px/$ppr;
              }
              & .price{
                height: 24px/$ppr;
                line-height: 24px/$ppr;
                color: red;
              }
            }
          }
        }
      }
    }
  }
}