
$ppr: 12px/1rem; // 样式的rem按照12px进行转换
$size1: 1rem;
$size2: 1.2rem;
$size3: 1.4rem;
$size4: 1.6rem;
$size5: 1.8rem;
$size6: 2rem;

.details-page{
  #load_img_state{
    position: absolute; 
    left: 0; 
    top: 54px/$ppr; 
    z-index: 999; 
    height: 3px/$ppr;
    background: #FF3B84;
    transition: all 0.5s;
  }
  width: 100%;
  background-color: #fff;
  font-family: PingFangSC-Regular,Helvetica,"Droid Sans",Arial,sans-serif;
  .details-title{
    display: flex;
    background: white;
    & .d-title{
      flex: 1;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      font-size: $size2;
      box-sizing: border-box;
      &.router-link-exact-active, &.router-link-active{
        border-bottom: 2px solid red;
      }
    }
  }
  .d_top{
    margin-top: 48px/$ppr;
  }
  .details-basic{
    .details-box{
      background: #fff;
      padding: 0 10px/$ppr;
      text-align: center;
      .d_title{
        line-height: 35px/$ppr;
        font-size: 2rem;
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: 2;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // word-break: break-all;
        color: #000;
      }
      .price{
        line-height: 40px/$ppr;
        font-size: 2rem;
        font-weight: 700;
        color: red;
      }
      .cost{
        line-height: 30px/$ppr;
        color: rgb(150,150,150);
        font-size: $size3;
        & span{
          display: line-block;
          padding: 0 10px/$ppr;
          &.c_cost{
            text-decoration: line-through;
          }
        }
      }
    }
    .select{
      height: 42px/$ppr;
      line-height: 42px/$ppr;
      background-color: #fff;
      padding: 0 35px/$ppr 0 10px/$ppr;
      font-size: $size4;
      color: #000;
      position: relative;
      border-bottom: 1px solid #eee;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:after{
        content: ' ';
        background: url('../../assets/also-icon.png') no-repeat right center;
        background-size: 24px/$ppr;
        width: 24px/$ppr;
        position: absolute;
        right: 10px/$ppr;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .select_box {
      background: #fff;
      padding: 10px/$ppr;
      & .title-h2{
        height: 30px/$ppr;
        line-height: 30px/$ppr;
        font-size: $size3;
      }
      & .radio_module{
          font-size: 0;
        & label[name="radio"]{
          display: inline-block;
          background: #EFEFEF;
          padding: 7px/$ppr 15px/$ppr;
          font-size: $size3;
          margin: 5px/$ppr 10px/$ppr 5px/$ppr 0;
          color: white;
          border-radius: 4px;
          color: #696969;
          &.on{
            background: red;
            color: #fff;
          }
        }
      }
    }
    .select_count {
      padding: 0 10px/$ppr 10px/$ppr;
      background: #fff;
      & .title-h2{
        height: 40px/$ppr;
        line-height: 40px/$ppr;
        font-size: $size2;
      }
    }
  }
  .fixed-bottom{
    height: 60px/$ppr;
    background: #fff;
    overflow: hidden;
    .five-cart{
      height: 55px/$ppr;
      line-height: 55px/$ppr;
      position: fixed;
      width: 100%;
      max-width: 800px;
      display: flex;
      z-index: 100;
      box-shadow: 0px 2px 8px #b3b3b3;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.90);
      font-size: $size2;
      .flex-1{
        flex: 1;
        width: 100%;
        height: 100%;
        .two,.three{
          width: 50%;
          height: 100%;
          float: left;
          text-align: center;
          line-height: 24px/$ppr;
          & .icon_f{
            display: block;
            color: #696969;
            margin-top: 6px/$ppr;
            font-size: 2rem;
          }
        }
      }
      .flex-2{
        flex: 2;
        width: 100%;
        height: 100%;
        .join,.buy{
          width: 50%;
          height: 100%;
          float: left;
          text-align: center;
          font-size: $size4;
          color: #fff;
          & a{
            color: #fff;
          }
        }
        .join{
          background: #ffd600;
        }
        .buy{
          background: #FF3B84;
        }
      }
    }
  }
  .bag_img{
    position: fixed;
    z-index: 201;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 800px;
    max-height: 480px;
    overflow: hidden;
    background: white;
    margin: auto;
    & img{
      width: 100%;
      height: 100%;
      max-width: 800px;
    }
    .hide_bag_img{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 200;
      width: 45px/$ppr;
      height: 45px/$ppr;
      line-height: 45px/$ppr;
      background: rgba(255, 0, 0, 0.5);
      color: white;
      font-size: $size6;
      text-align: center;
    }
  }
  .bg_black{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
  }
}