
$ppr: 12px/1rem; // 样式的rem按照12px进行转换

.details-page{
  width: 100%;
  background-color: #eee;
  font-family: PingFangSC-Regular,Helvetica,"Droid Sans",Arial,sans-serif;
  .details-title{
    display: flex;
    background: white;
    & .d-title{
      flex: 1;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      font-size: 1.2rem;
      box-sizing: border-box;
      &.router-link-exact-active, &.router-link-active{
        border-bottom: 2px solid red;
      }
    }
  }
  .d_top{
    margin-top: 48px/$ppr;
  }
  .details-basic{
    .details-box{
      background: #fff;
      padding: 0 10px/$ppr;
      .details-title{
        line-height: 24px/$ppr;
        font-size: 1.2rem;
        color: #4d525d;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        background: #fff;
        padding-top: 5px/$ppr;
        font-family: PingFangSC-Regular,Helvetica,"Droid Sans",Arial,sans-serif;
      }
      .product-subname{
        color: rgb(150,150,150);
        font-size: 1rem;
        line-height: 20px/$ppr;
      }
      .price{
        line-height: 24px/$ppr;
        font-size: 1.4rem;
        font-weight: 700;
        color: red;
      }
      .cost{
        line-height: 24px/$ppr;
        color: rgb(150,150,150);
        text-decoration: line-through;
        font-size: 1.2rem;
      }
    }
    .flex-box{
      display: flex;
      background: #fff;
      padding: 5px/$ppr 10px/$ppr;
      .flex-1{
        flex: 1;
        color: #6f6f6f;
        font-size: 1rem;
      }
    }
    .select{
      height: 42px/$ppr;
      line-height: 42px/$ppr;
      background-color: #fff;
      padding: 0 10px/$ppr;
      margin-top: 5px/$ppr;
      font-size: 1.2rem;
      color: #8e8e8e;
      position: relative;
      border-bottom: 1px solid #eee;
      &:after{
        content: ' ';
        background: url('../../assets/also-icon.png') no-repeat right center;
        background-size: 18px/$ppr;
        width: 20px/$ppr;
        font-size: 1.2rem;
        position: absolute;
        right: 10px/$ppr;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .select_box {
      background: #fff;
      padding: 10px/$ppr;
      & .title-h2{
        height: 30px/$ppr;
        line-height: 30px/$ppr;
        font-size: 1.2rem;
      }
    }
    .select_count {
      padding: 0 10px/$ppr 10px/$ppr;
      background: #fff;
      & .title-h2{
        height: 40px/$ppr;
        line-height: 40px/$ppr;
        font-size: 1.2rem;
      }
    }
    .shop-head{
      padding: 10px/$ppr;
      background: white;
      .head-with{
        display: flex;
      }
      & li{
        flex: 1;
        &.shop-a{
          max-width: 80px/$ppr;
          border: 1px solid #e7e7e7;
          & img{
            width: 100%;
          }
        }
        &.shop-b{
          font-size: 1.4rem;
          margin-left: 10px/$ppr;
          color: #616161;
        }
        &.shop-bt{
          border: 1px solid #d4d4d4;
          height: 40px/$ppr;
          line-height: 40px/$ppr;
          font-size: 1.4rem;
          text-align: center;
          border-radius: 2px;
          &.b-left{
            margin-right: .25rem;
          }
          &.b-right{
            margin-left: .25rem;
          }
        }
      }
      .shop-state{
        padding: .6rem;
        & li{
          text-align: center;
          font-size: 1.2rem;
        }
      }
    }
  }
  .fixed-bottom{
    height: 60px/$ppr;
    background: #fff;
    overflow: hidden;
    .five-cart{
      height: 60px/$ppr;
      line-height: 60px/$ppr;
      position: fixed;
      width: 100%;
      display: flex;
      z-index: 100;
      box-shadow: 0px 2px 8px #b3b3b3;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.90);
      font-size: 1.2rem;
      .flex-1{
        flex: 1;
        width: 100%;
        height: 100%;
        .two,.three{
          width: 50%;
          height: 100%;
          float: left;
          text-align: center;
          line-height: 25px/$ppr;
          & .icon_f{
            display: block;
            margin-top: 5px/$ppr;
            font-size: 1.6rem;
          }
        }
      }
      .flex-2{
        flex: 2;
        width: 100%;
        height: 100%;
        .join,.buy{
          width: 50%;
          height: 100%;
          float: left;
          text-align: center;
          font-size: 1.4rem;
          color: #fff;
          & a{
            color: #fff;
          }
        }
        .join{
          background: #ffb03f;
        }
        .buy{
          background: #f23030;
        }
      }
    }
  }
}