
$ppr: 12px/1rem; // 样式的rem按照12px进行转换

.app-index{
  width: 100%;
  background: #eee;
  .mod_container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #eee;
  }
  .dzdt{
    background-color: white;
    & > a{
      display: block;
      img{
        width: 100%;
      }
    }
  }
  .layout-type{
    background: #fff;
    padding: 10px/$ppr;
    .mui-flex{
      display: flex;
      & > li{
        flex: 1;
        width: 0;
        max-width: 100%;
        display: block;
        box-sizing: border-box;
        & a{
          display: block;
          text-align: center;
          color: #000;
          font-size: 1.2rem;
          white-space: nowrap;
          margin: 10px/$ppr;
          overflow: hidden;
          & img{
            width: 100%;
            max-width: 100px;
            display: block;
            padding: 4px/$ppr;
            margin: 0 auto;
            box-sizing: border-box;
          }
        }
      }
    }
  }
  .notice{
    height: 1.5rem;
    width: 100%;
    display: flex;
    background: #fff;
    padding: .5rem 0 .5rem 0;
    .notice-pic{
      flex: 0 0 11rem;
      background: url('../../assets/index/notice_pic.jpg') no-repeat;
      background-size: 100%;
      margin-left: .5rem;
    }
    .notice-center{
      flex: 1;
      line-height: 3rem;
      font-size: 1.4rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 1.5rem 0 .2rem;
      position: relative;
      & .label-new{
        border: 1px solid red;
        padding: .3rem .5rem;
        margin-right: .5rem;
        font-size: 1.4rem;
        color: red;
        border-radius: .2rem;
      }
      & .icon_right{
        display: inline-block;
        width: 16px;
        height: 23px;
        position: absolute;
        top: .5rem;
        right: .5rem;
        background: url('../../assets/index/right_arrow.png') no-repeat right center;
        background-size: 1rem;
      }
    }
  }
  .title_h2{
    display: flex;
    height: 50px/$ppr;
    line-height: 50px/$ppr;
    background-color: #fff;
    padding: 0 10px/$ppr;
    position: relative;
    .title{
      font-size: 1.4rem;
      padding-left: .25rem;
      font-weight: 700;
    }
    .time_countdown{
      flex: 2;
      & .time {
        color: #000;
        font-size: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        .alike{
          font-size: 1.2rem;
          border: 1px solid #ececec;
          border-radius: 2px;
          padding: 5px/$ppr;
          color: #000;
        }
        .alike-b {
          font-size: 1.2rem;
          margin: 0 5px/$ppr;
        }
      }
    }
    .more{
      flex: 1;
      color: red;
      font-size: 1.2rem;
      font-weight: 600;
      font-family: Microsoft Yahei,Helvetica,Arial;
      text-align: right;
      padding-right: 18px/$ppr;
      position: relative;
      &:after{
        content: ' ';
        position: absolute;
        z-index: 100;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
        width: 14px/$ppr;
        height: 14px/$ppr;
        background: url('../../assets/index/more-arrow.png') no-repeat center center;
        background-size: cover;
      }
    }
  }
  .seckill-goods{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: white;
    .pic-list{
      font-size: 0;
      .pic-item{
        width: 144px/$ppr;
        display: inline-block;
        margin-right: 6px/$ppr;
        &:last-child{
          margin-right: 0;
        }
        & img{
          width: 100%;
        }
      }
    }
  }
  .module{
    width: 100%;
    background-color: #fff;
    position: relative;
    .seckill_time {
      position: relative;
      & img{
        width: 100%;
        display: block;
      }
    }
  }
}